@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
   background: white;
   display: block;
   text-align: center;
  
}

.card{
    background: rgba(128, 128, 128, 0.253);
    
}

.Titulo{
    text-align: center;

}

.descriçao{
    text-align: center;
}

fieldset{
    background: rgba(0, 0, 255, 0.185);
}

a{
    display: block;
    text-align: center;
}

button{ 
    background: black;
    color: white;
}

div{
    border-width: 60%;
}
header{
    background: rgba(0, 0, 0, 0.315);
}